/* ==UserStyle==
@name           Him-bread tweak
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    /* Insert code here... */
    /* cosmetic and focus tweaks for yt */
    /* credit to various userstyles makers for some pieces of this */


    /* hide recs */
    #secondary {
        /*display: non !important;*/
    }
       #related {
           display: none;
           margin-left: 50px !important;
       }
    /* make video fill the remaining space */
    #primary {
        width: 100% !important;
        flex: 1 !important;
        max-width: none !important;
    }

    /* hide yt sidebar */
    /*ytd-mini-guide-renderer, 
    ytd-guide-renderer {
    display: none !important;
}*/
    yt-icon{
        display: none  
    }

    /* hide yt top bar */
    .ytd-masthead {
        opacity: 0 !important;
        height: 0 !important;
        transition: ease-in-out 0.2s;
    }
    .ytd-masthead:focus-within {
        height: 80px !important;
        opacity: 1 !important;
        backdrop-filter: blur(10pc) !important;
    }

    /* remove extra padding and ensure content is full-width on channel page*/
    .ytd-app {
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-left: 0 !important;
    }

    html:not(.ytd-watch-flexy) ytd-watch-flexy[flexy] #player {
        width: 100% !important;
        max-width: 1400px;
        margin: 0 auto !important;
    }

    /* remove that annoying thing yt adds in dark mode */
    .ytp-gradient-bottom {
        display: none !important;
    }

    /* reshape some elements */
    .chip-container {
        border-radius: 0% !important;
    }

    .ytd-thumbnail {
        border-radius: 10% !important;
    }

    .yt-spec-avatar-shape__image {
        border-radius: 10% !important;
    }
}

@-moz-document regexp("^https://www\\.youtube\\.com/playlist.*$") {
    /* Insert code here... */
    ytd-two-column-browse-results-renderer[class="style-scope ytd-browse grid grid-disabled"]{
        width: 90vw !important;      
        margin-left: 40px !important;
    }
    div[class="yt-page-header-view-model__page-header-background"],
    yt-content-preview-image-view-model[class="yt-page-header-view-model__page-header-headline-image yt-page-header-view-model__page-header-headline-image--page-header-headline-image-hero ytContentPreviewImageViewModelHost ytContentPreviewImageViewModelLargeRoundedImage"]{
        display: none
    }
    div[id="contents"]{
        margin-left: 10px
    }
    ytd-alert-with-button-renderer{
        background: #0000 !important
    }
}

@-moz-document regexp("https://www.youtube.com/@.*$") {
    div[id="wrapper"]{
        height: 35pc !important;
    }
}


