/* ==UserStyle==
@name          YouTube For Audiophiles
@namespace     https://userstyles.world/user/him
@version       1.0.0
@description   YouTube SFW: only audio. No video.
@author        wddd
==/UserStyle== */
@-moz-document domain("www.youtube.com") {
    .video-stream {
        height: 10px;
        display: none !important;
    }
    .ytp-ce-video {
        height: 10px;
        display: none !important;
    }
    .ytp-ce-expanding-image {
        height: 10px;
        display: none !important;
    }
    .ytp-videowall-still {
        height: 10px;
        display: none !important;
    }
    div {
        background-image: none !important;
    }
    #progress {
        display: block !important;
    }
    .html5-video-player, div[id="player-container-outer"]{
        height: 14pc
    }
}
