/* ==UserStyle==
@name           Gitmedium
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("github.com") {
    /* Insert code here... */

	.avatar-user {
    border-radius: 15px !important;
}

	.AppHeader .AppHeader-button{
		display: none
	}
	.UnderlineNav{
		justify-content: center;
    width: auto
	}
	
	.Overlay-backdrop--side.Overlay-backdrop--placement-right>.Overlay{
		justify-content: center;
		box-shadow: 0px 12px 42px #18181885;
		transition: 1s ease-in-out
		
	}
	.Overlay-backdrop--side.Overlay-backdrop--placement-right {
    align-items: center;
    justify-content: right;
		
		margin-top: 0px;
		backdrop-filter: blur(3px);
		
}



	.gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .header .user-and-repo {
    display: none;
}
	
	.isxsSh {
		background-color:#1B1F24 ;
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-left: 12px;
    padding-right: 0px;
    border-radius: 0px;
    
}
	
}

@-moz-document domain("github.com") {

/*
 * Basic layout
 */

.container {
  width: 100% !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/* Responsive containers on some pages */
.container-lg,
.container-xl {
  max-width: 100% !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/* Match the header to container padding */
.Header {
  padding-right: 30px !important;
  padding-left: 30px !important;
}


/*
 * Profile pages
 */

.pinned-repo-item {
  width: calc(50% - 10px) !important;
}
.org-pinned-repos-list .pinned-repo-item {
  width: calc(33.3% - 10px) !important;
}

.u-photo,
.user-status-container {
  max-width: 250px;
}
.u-photo .avatar {
  width: 100% !important;
  height: auto !important;
}


/*
 * Repo-specific stuff
 */

.repository-content {
  width: 100% !important;
}

/* Undo container changes for the Projects tab on repos which have unnecessary nested container-lg's */
.repository-content > .container-lg {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Undo for profile timeline */
.contribution-activity-listing .discussion-timeline {
  width: 100% !important;
}

/* Fix #18 - props: @auscompgeek */
.file-header::after {
  clear: left !important;
}

/* Network graph */
#network {
  max-width: 730px;
}


/*
 * Issues & Dashboard
 */

#dashboard,
.new-issue-form {
  position: relative !important;
}

.new-issue-form .discussion-sidebar {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

button.discussion-sidebar-toggle {
  width: 100% !important;
}

.timeline-new-comment {
  max-width: none !important;
}

/* Commits: extended message under "..." */
.commit-desc pre {
  max-width: none;
}

/* Alert messages */
#js-flash-container .flash-messages {
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

}
