/* ==UserStyle==
@name       Hankeytype
@version    20240505.14.01
@namespace  ?
==/UserStyle== */

@-moz-document url-prefix("https://monkeytype.com/") {
    footer,
    #testModesNotice,
    #bannerCenter
    {
        visibility: hidden !important;
    }
    a[id="logo"],
    button[class="text showAlerts"],
    a[class="textButton view-about"]{
        display: none !important;
    }
    header{
        opacity: 0;
        transition: .2s ease-in-out
    }
    #testConfig{
        opacity: 20%;
        background: #0000;
        transition: .2s ease-in-out
    }
    header:hover,
    #testConfig:hover{
        opacity: 1 
    }
    div[class="row"]{
        background: #0000 !important
    }
    div[id="liveStatsTextTop"]{
        opacity: 50%
    }
}
