/* ==UserStyle==
@name           search.brave.com
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("search.brave.com") {
    /* Insert code here... */
    #search-page, #nav-tabs{
        background: #222324
    }
    #site-header{
        background: #32302f;
    }
    div[class="header-content svelte-1jv8j14"] a[class="nav-logo btn btn-link svelte-1jv8j14"]{
        display: none
    }
}
@-moz-document domain("search.brave.com") {
    /* Insert code here... */
    main[class="svelte-1xzvc2r"]{
        background: #212121
    }
    div[class="searchform-container svelte-17r9frn llm-enabled multiline"]{
        background: #222222 !important;
    }
    div[class="download-cta svelte-1xzvc2r"]{
        display: none !important;
    }
    button[id="submit-button"], button[id="submit-llm-button"], div[id="clear-query-divider"]{
        display: none !important;
    }
    img[class="svelte-1qo6czq"]{
        filter: 
            sepia(0.9)
            saturate(1.5)
            hue-rotate(-15deg)
            brightness(0.9)
            contrast(1.2);
    }
    button[id="settings-button"]{
        filter: sepia(88%) saturate(56%) hue-rotate(47deg) brightness(87%) contrast(88%);
    }   
}
