/* ==UserStyle==
@name           The instarchanging
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.instagram.com") {
    /* Insert code here... */
	div[class="xvbhtw8 x78zum5 xdt5ytf x5yr21d x1n2onr6"],div[class="xvbhtw8 x78zum5 xdt5ytf x5yr21d x1n2onr6"]:hover{
		background-color: #0c0c0c;
		padding: 10px;
		margin-top: 10px
	}
    div[class="x78zum5 xdt5ytf x5yr21d xa1mljc xh8yej3 x1bs97v6 x1q0q8m5 xso031l x11aubdm xnc8uc2"]{
		background-color: #0c0c0c;
        padding: 20px;
        border-radius: 10px
    }
    div[class="html-div x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1xmf6yo x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"]{
        display: none
    }
	textarea[class="x1i0vuye xvbhtw8 x1ejq31n xd10rxx x1sy0etr x17r0tee x5n08af x78zum5 x1iyjqo2 x1qlqyl8 x1d6elog xlk1fp6 x1a2a7pz xexx8yu x4uap5 x18d9i69 xkhd6sd xtt52l0 xnalus7 xs3hnx8 x1bq4at4 xaqnwrm"], form[class="x78zum5 x1q0g3np x1iyjqo2 xs83m0k xln7xf2 xk390pu xvbhtw8 x1yvgwvq x1dqoszc x1ixjvfu xhk4uv x178xt8z xm81vs4 xso031l xy80clv x13jg5ln x12klpvz xstbrti x12bmzex x1ejq31n xd10rxx x1sy0etr x17r0tee xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd"]{
		background-color: #101010;
		padding: 5px;
		border-radius: 10px;
		
	}
    div[class="x6s0dn4 x78zum5 x1q0g3np x1nhvcw1 xyinxu5 xxbr6pl x1a8lsjc xbbxn1n"]{
        display: none
    }
	textarea[class="x1i0vuye xvbhtw8 x1ejq31n xd10rxx x1sy0etr x17r0tee x5n08af x78zum5 x1iyjqo2 x1qlqyl8 x1d6elog xlk1fp6 x1a2a7pz xexx8yu x4uap5 x18d9i69 xkhd6sd xtt52l0 xnalus7 xs3hnx8 x1bq4at4 xaqnwrm"], form[class="x78zum5 x1q0g3np x1iyjqo2 xs83m0k xln7xf2 xk390pu xvbhtw8 x1yvgwvq x1dqoszc x1ixjvfu xhk4uv x178xt8z xm81vs4 xso031l xy80clv x13jg5ln x12klpvz xstbrti x12bmzex x1ejq31n xd10rxx x1sy0etr x17r0tee xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd"]{
		background-color: #171717
	}
	
	div[class="xsag5q8 x1e558r4"]{
		background-color: #0c0c0c;
		padding: 10px;
		margin-bottom: 0px
	}
	div[class="x1iyjqo2 xh8yej3"]{
		margin-top: 0vh;
		
		border-radius: 10px
	}			
	div[class="x1n2onr6"]{
		border: 2px;
		border-color: black
	}
	
	article {
		width: 100%;
		height: calc(100%+ 20%);
		border: 0;
        border-radius: 10px
		
	}	
	div[class="x6s0dn4 xyzq4qe x78zum5 xdt5ytf x2lah0s xl56j7k x6ikm8r x10wlt62 x1n2onr6 x5ur3kl xopu45v x1bs97v6 xmo9t06 x1lcm9me x1yr5g0i xrt01vj x10y3i5r x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x178xt8z xm81vs4 xso031l xy80clv"]{
		border: 0;
		transition: 1s ease-in-out
		
	}
	html{
		scroll-behavior: smooth;
		transition: 1s ease-in-out;
		
	}
     ._aak6 {
    display: none;
  }

  /* navbar */
  ._aa4c {
    --nav-narrow-width: 0px;
    --nav-medium-width: 0px;
    --nav-wide-width: 0px;
  }

  .x1o5hw5a.x1o5hw5a {
    --nav-narrow-width: 72px;
    --nav-medium-width: 72px;
  }

  .xaeubzz.xaeubzz {
    --nav-wide-width: 72px;
  }
  
  .x1o5hw5a.x1o5hw5a:hover {
    --nav-medium-width: 244px;
  }

  .xaeubzz.xaeubzz:hover {
    --nav-wide-width: 335px;
  }

  ._aagx {
    width: 100%;
  }

	

	div[class="x1xgvd2v x1o5hw5a xaeubzz x1cy8zhl xvbhtw8 x9f619 x78zum5 xdt5ytf x1gvbg2u x1y1aw1k xn6708d xx6bls6 x1ye3gou"]{
    position: relative;
		top: 17vh
}
	div[class="xopu45v xu3j5b3 xm81vs4 x1vjfegm"]{
		border: 0
	}
	div[class="_aagx"], div[class="x6s0dn4 x9f619 xxk0z11 x6ikm8r xeq5yr9 x1swvt13 x1s85apg xzzcqpx __web-inspector-hide-shortcut__"], span[class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be xo1l8bm x5n08af x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"]{
		display: none
	}
	
	div[class="x16adzlw xds687c x1cnzs8 x1pi30zi x1gan7if x1swvt13 x10l6tqk x17qophe x13vifvy x1vjfegm x1hc1fzr x1d8287x x19991ni xwji4o3"],div[class="x6s0dn4 x78zum5 x67bb7w"]{
		display: block;
    opacity: 0;
		
	}
	div[class="x16adzlw xds687c x1cnzs8 x1pi30zi x1gan7if x1swvt13 x10l6tqk x17qophe x13vifvy x1vjfegm x1hc1fzr x1d8287x x19991ni xwji4o3"]:hover,div[class="x6s0dn4 x78zum5 x67bb7w"]:hover{
		transition: 1s ease-in-out;
		opacity: 1
	}
	
	.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}
	.x47corl {
    pointer-events: all;
}
	#splash-screen{
		filter: invert(1)
	}
	#splash-screen img{
		filter: invert(1)
	}
		.xseo6mj {
    display: none;
}
	._ajdu {
    margin-top: 0;
    padding: 3px 0;
    
}
	div[class="_aac4 _aac5 _aac6 _aj3f _ajdu"]{
		margin-left: -21%
	}
	div[class="x14vqqas x11i5rnm xod5an3 x1mh8g0r"]{
		display: none
	}
	div[class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x1iyjqo2 x2lwn1j xl56j7k"]{
		background: url(https://file.notion.so/f/f/d18a1387-3fda-4e5b-81b7-e09130503af4/08aad001-dfae-41c0-8651-f14b1d3c7023/Untitled.png?id=0fa831ed-9114-41fd-bdae-988f02d346b5&table=block&spaceId=d18a1387-3fda-4e5b-81b7-e09130503af4&expirationTimestamp=1710979200000&signature=QAefEl8ShOM2DEoa2cUxX0ob6UG9iRig34hq1CnVvpA&downloadName=Untitled.png) 
	}

 div[class="x1tlxs6b x1gn5b1j x230xth x14ctfv x1okitfd x6ikm8r x10wlt62 x1mzt3pk x1y1aw1k xn6708d xwib8y2 x1ye3gou x1n2onr6 x13faqbe x1vjfegm x1yr5g0i"]{
	 background: #0c0c0c
	}
	div[class="xvbhtw8 xopu45v xu3j5b3 xm81vs4 x168nmei xoqspk4 x12v9rci xo71vjh xzmilaz x9f619 x78zum5 xdt5ytf x1dr59a3 x1odjw0f xish69e x1y1aw1k x4uap5 xwib8y2 xkhd6sd x1zvrr1"]{
		position: relative;
		
		border: 0;
		transition: 1s ease-in-out
	}
	div[class="x78zum5 xdt5ytf x5yr21d"]{
		padding: 10px;
		background-color: #0c0c0c;
	}
	div[class="x1xmf6yo x11i5rnm x1e56ztr x1mh8g0r xz9dl7a xmns6w2 xq1608w xbbxn1n"]{
		background-color: #0c0c0c;
	}
	div[class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 x78zum5 x1y1aw1k xxbr6pl xwib8y2 xbbxn1n x87ps6o x1l895ks x1lku1pv x1wq6e7o x1di1pr7 x1h4gsww xux34ky"], div[class="x6s0dn4 x1q4h3jn x78zum5 x1y1aw1k xxbr6pl xwib8y2 xbbxn1n x87ps6o x1wq6e7o x1di1pr7 x1h4gsww xux34ky x1ypdohk x1l895ks"]{
		background-color: #0c0c0c;
		padding: 15px
			
	}
	div[class="x13dflua x19991ni"]:hover{
		background-color: #0c0c0c;
		
		
	}
	div[class="x78zum5 xdt5ytf x1iyjqo2 x5yr21d x1odjw0f x1n2onr6 xh8yej3"]{
		background-color: #0c0c0c;
	}
	div[class="x14vqqas x11i5rnm xod5an3 x1mh8g0r"]{
		display: none
	}
	div[class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x1iyjqo2 x2lwn1j xl56j7k"]{
		background: url(https://file.notion.so/f/f/d18a1387-3fda-4e5b-81b7-e09130503af4/08aad001-dfae-41c0-8651-f14b1d3c7023/Untitled.png?id=0fa831ed-9114-41fd-bdae-988f02d346b5&table=block&spaceId=d18a1387-3fda-4e5b-81b7-e09130503af4&expirationTimestamp=1710979200000&signature=QAefEl8ShOM2DEoa2cUxX0ob6UG9iRig34hq1CnVvpA&downloadName=Untitled.png) 
	}

 div[class="x1tlxs6b x1gn5b1j x230xth x14ctfv x1okitfd x6ikm8r x10wlt62 x1mzt3pk x1y1aw1k xn6708d xwib8y2 x1ye3gou x1n2onr6 x13faqbe x1vjfegm x1yr5g0i"]{
	 background: #0c0c0c
	}
	div[class="xvbhtw8 xopu45v xu3j5b3 xm81vs4 x168nmei xoqspk4 x12v9rci xo71vjh xzmilaz x9f619 x78zum5 xdt5ytf x1dr59a3 x1odjw0f xish69e x1y1aw1k x4uap5 xwib8y2 xkhd6sd x1zvrr1"]{
		position: relative;
		
		border: 0;
		transition: 1s ease-in-out
	}
	div[class="x78zum5 xdt5ytf x5yr21d"]{
		padding: 10px;
		background-color: #0c0c0c;
	}
	div[class="x1xmf6yo x11i5rnm x1e56ztr x1mh8g0r xz9dl7a xmns6w2 xq1608w xbbxn1n"]{
		background-color: #0c0c0c;
	}
	div[class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 x78zum5 x1y1aw1k xxbr6pl xwib8y2 xbbxn1n x87ps6o x1l895ks x1lku1pv x1wq6e7o x1di1pr7 x1h4gsww xux34ky"], div[class="x6s0dn4 x1q4h3jn x78zum5 x1y1aw1k xxbr6pl xwib8y2 xbbxn1n x87ps6o x1wq6e7o x1di1pr7 x1h4gsww xux34ky x1ypdohk x1l895ks"]{
		background-color: #0c0c0c;
		padding: 15px
			
	}
	div[class="x13dflua x19991ni"]:hover{
		background-color: #0c0c0c;
		
		
	}
	div[class="x78zum5 xdt5ytf x1iyjqo2 x5yr21d x1odjw0f x1n2onr6 xh8yej3"]{
		background-color: #0c0c0c;
	}
}




/* Instagram Layout for laptop*/
@-moz-document domain("instagram.com") {
  /* font size */
  :root,
  article {
    --system-14-font-size: 18px;
    --system-14-line-height: 1.3;
  }

  button {
    --system-14-font-size: 14px;
  }

  article {
    ._aacl._aaco._aacu._aacx._aad7._aade,
    ._acan,
    .x1f6kntn {
      font-size: var(--system-14-font-size);
      line-height: var(--system-14-line-height);
      overflow-wrap: anywhere;
    }
  }

  /* sidebar */
  .x6bx242 {
    display: none;
  }

  /* navbar */
  ._aa4c {
    --nav-narrow-width: 0px;
    --nav-medium-width: 0px;
    --nav-wide-width: 0px;
  }

  .x1o5hw5a.x1o5hw5a,
  .xw2csxc {
    --nav-narrow-width: 72px;
    --nav-medium-width: 72px;
  }

  .xaeubzz.xaeubzz {
    --nav-wide-width: 72px;
  }

  .x1o5hw5a.x1o5hw5a:hover {
    --nav-medium-width: 244px;
  }

  .xaeubzz.xaeubzz:hover {
    --nav-wide-width: 335px;
  }

  svg[aria-label="Instagram"] {
    width: min(103px, 100%);
  }

  /* read more button & view all comments button */
  article > div > div:nth-child(3) {
    .html-div {
      width: 100%;
    }
    span.x1roi4f4:not([role="img"]) {
      border-radius: 2px;
      text-align: left;
      padding: 0px;
    }

    .xryxfnj [role="button"] {
      display: block !important;
      margin-top: 12px;
    }

    .x9f619.x1xmf6yo,
    [role="link"],
    [role="link"] > span {
      width: 100%;
    }
  }

  /* main article */
  @media screen and (min-width: 800px) {
    .x17snn68.x17snn68 {
      width: 100%;
      /* Settings page */
      .html-div > .xw2csxc:nth-child(1) {
        padding-left: var(--nav-medium-width);
      }
    }
 
    main > .xl56j7k > div[style] {
      min-width: 630px !important;
      width: 67% !important;
      max-width: 80% !important;
    }

    .xmnaoh6 + div > div {
      width: 100% !important;
    }

    /* variant & home */
    main > div > div > .xw7yly9 > div,
    article > .xdt5ytf:not(.xtcbf50) {
      flex-direction: row;
      flex-wrap: wrap;
      > div {
        box-sizing: border-box;
      }

      > div:nth-child(1) {
        flex: 100%;
      }

      > div:nth-child(2) {
        flex: 55%;
      }

      > div:nth-child(3) {
        flex: 45%;
        > div {
          padding: 0 10px;
        }
      }
    }
  }
}
