/* ==UserStyle==
@name           Reddit Tweaks
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.reddit.com") {
    /* Insert code here... */
    /*Reddit Sans*/
    @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
    body, * {
        font-family: 'Reddit Sans', sans-serif;
    }
    pre, code, kbd, samp, tt {
        font-family: 'Reddit Mono', monospace;
    }
    /*Reddit Gallery View*/
    .subgrid-container:has(shreddit-feed[reload-url^="/svc/shreddit/feeds/"]) {
		min-width: 100% !important;
	}
	.main-container:has(shreddit-feed[reload-url^="/svc/shreddit/feeds/"]) {
		grid-template-columns: minmax(0,1fr) minmax(0,316px) !important;
	}
	shreddit-feed {
		--post-per-row: 3;
		--post-width: calc(150% / var(--post-per-row));
		
		flex-direction: row;
		flex-wrap: wrap;
		
		& > article, & > .virtualized-placeholder {
			width: var(--post-width) !important;
		}
		
		& > hr, & > .virtualized-placeholder[style="height: 0px;"] {
			display: none;
		}
		
		& > faceplate-loader, & > faceplate-partial {
			height: 0px !important;
		}
	}
    /*Revoming Sponsed Post*/
        a[rel~="sponsored"] { display: none !important; }
    
    #right-sidebar-container {
        display: none;
    }
    main[id="main-content"]{
        width: 90vw;
        min-width: 70vw;
        max-width: 90vw;
    }
}
@-moz-document regexp("^https://www\\.reddit\\.com/r/.*$") {
    main[id="main-content"]{
        width: 60vw;
        min-width: 70vw;
        max-width: 40vw;
    }
}
