/* ==UserStyle==
@name           Minimal Tweaks For Instagram
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.instagram.com") {
    /* Insert code here... */
    div[class="x6usi7g x18b5jzi x1lun4ml x1vjfegm"]{
        border: 0 !important;
    }
    div[class="x7goit8 x10l6tqk x1ja2u2z"]{
        padding: 10px;
        border-color: white;
        border-width: 10px !important;
        border-radius: 10px;

    }
    div[class="xvbhtw8 x6usi7g x18b5jzi x1lun4ml x15mokao xnlwouz xpp8er5 xbiv7yw xzmilaz x9f619 x78zum5 xdt5ytf x1dr59a3 x1odjw0f xish69e x1y1aw1k xyri2b xwib8y2 x1c1uobl x1x0by9y"]{
        padding: 10px;
        border-radius: 10px;
        backdrop-filter: blur(50px) !important;
        background: #0000002e;

    }
        span[class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x5n08af x10wh9bi xpm28yp x8viiok x1o7cslx"],span[class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x1roi4f4 x10wh9bi xpm28yp x8viiok x1o7cslx"]{
        padding: 10px;
        border-radius: 80px;
        
    }
    div[class="x6s0dn4 x1bs97v6 x1q0q8m5 x9f619 xat24cr xh8yej3 x1qhh985 x14z7g9a xzbw6zd x78zum5 x1q0g3np x1qughib xsag5q8 x13jy36j x64bnmy xijc0j3"],div[class="x2lah0s x1to3lk4 x1n2onr6 xh8yej3"]{
        display: none
    }
}
